<form class="form-inline">
	<div class="form-group">
		<input type="file" class="form-control" onchange="angular.element(this).scope().fileChanged(this)">
	</div>
	<button type="submit" class="btn btn-primary" photos-upload-button ng-disabled="fileUploading">Upload</button>
</form>
