<div class="row">
	<div class="col-sm-3" ng-repeat="image in listCtrl.images" ng-show="image.fullPath">
		<a href="#/detail/{{image.fileName}}">
			<img src="{{image.fullPath}}" class="thumbnail col-xs-12">
		</a>
	</div>
</div>
