<h1>Details</h1>
<div class="row">
	<div class="col-sm-4">
		<img src="{{detailCtrl.photoPath}}" ng-show="detailCtrl.photoPath" class="thumbnail col-xs-12">
	</div>
	<div class="col-sm-8">
		<table class="table">
			<thead>
				<tr>
					<th>Property</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Width (pixels)</td>
					<td>{{detailCtrl.dimensions.width}}</td>
				</tr>
				<tr>
					<td>Height (pixels)</td>
					<td>{{detailCtrl.dimensions.height}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
